* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #2f61bf;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.head {
    padding: 10px;
    background-color: rgb(87, 105, 226);
    font-family: 'EB Garamond';font-size: 22px;
    text-align: center;
    /* padding-left: 50px; */
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 0.80rem;
}

.column {
    float: left;
    width: 50%;
    height: 400px;
    padding: 100px;
    aspect-ratio: 1/1;
    font-family: 'EB Garamond';
    text-align: left;
    font-size: 20px;
}

.pod-bg {
    background-color:#b2b8d5;
}

.blog-bg {
    background-color:#d7d7d7;
}

.column h2 {
    margin-bottom: 5px;
}

.row:after {
    display: table;
    clear: both;
}

.pod {
    background-image: url("med1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.blog {
    background-image: url("med2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.blog-content {
    margin: 1.5rem 28rem 6.68rem;
    font-family: 'EB Garamond';font-size: 22px;
}

.blog-content p{
    padding-bottom: 2rem;
}

.blog-content h3{
    padding-bottom: 1rem;
}

.blog-head {
    margin-bottom: 1rem;
    text-align: left;
    padding-left: 28rem;
    font-size: 28px;
}

.pod-head {
    margin-bottom: 4rem;
    text-align: center;
    /* padding-left: 28rem; */
    font-size: 28px;
}

